html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#game-clock {
    display: flex;
    width: 250px;
    margin: auto;
    padding: 12px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 36px;
    font-size: 20px;
    border: 2px solid black;
    background-color: beige
}

#game-time {
    font-size: 36px;
}

#shot-clock {
    color: red;
}

#playback-speed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

#speed-slider {
    width: 400px;
}

#play-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-pause-btn {
    width: 80px;
    height: 30px;
}

#player-tooltip {
    position: fixed;
    transition-property: opacity, visibility;
    border: 2px solid black;
    border-radius: 5px;
    column-gap: 12px;
    padding: 12px;
    background-color: white;
    opacity: 1;
}

#player-tooltip[hidden]:not(:hover, :focus-within) { 
    visibility: hidden;
}

#animation, #position-heatmap {
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 100px;
}

.legend li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.swatch#tor {
    display: inline-flex;
    width: 20px;
    aspect-ratio: 1 / 1;
    background-color: white;
    border: 2px solid black;
}

.swatch#cha {
    display: inline-flex;
    width: 20px;
    aspect-ratio: 1 / 1;
    background-color: darkslateblue;
    border: 2px solid black;
}

#boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#raptors-box, #hornets-box {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: inherit;
    min-width: 400px;
    gap: 4px;
}

#raptors-box th, #hornets-box th {
    background-color: lightgray;
    color: black;
    padding: 8px;
    text-align: left;
    font-weight: normal;
}

#raptors-box tr.player, #hornets-box tr.player {
    background-color: ghostwhite;
    opacity: 0.4;
}

#raptors-box tr.player:hover, #hornets-box tr.player:hover {
    opacity: 1;
}

#raptors-box tr:nth-child(even) {
    background-color: #e0b8b879;
}

#hornets-box tr:nth-child(even) {
    background-color: rgb(212, 205, 252);
}

#raptors-box td, #hornets-box td {
    padding: 8px;
}

#position-heatmap {
    display: grid;
    grid-template-rows: auto 1em auto;
    grid-template-columns: auto auto;
    column-gap: 200px;
    justify-content: center;
    align-items: center;
}

#heatmap-title {
    grid-column: 1 / -1;
}